body {
    font-family: 'Arial', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #F5E6E8;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D49AA0;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #F5E6E8;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #F5E6E8;
}

.sidenav a:hover {
    background-color: #F5E6E8;
    color: #D49AA0;
}

.content {
    margin-left: 200px;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #D49AA0;
}

.label-section {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

label {
    font-weight: bold;
    font-size: 20px;
    color: #D49AA0;
}

.input-section {
    display: flex;
    margin-bottom: 30px;
}

input {
    flex: 1;
    padding: 15px;
    margin-right: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #F5E6E8;
    border: 1px solid #D49AA0;
    border-radius: 8px;
    width: 100%;
}

button {
    background-color: #D49AA0;
    color: #F5E6E8;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}

button:hover {
    background-color: #F5E6E8;
    color: #D49AA0;
}

#urlList {
    margin-top: 30px;
    font-size: 18px;
    color: #D49AA0;
}

.tab-content {
    display: none;
}

.section {
    background-color: #FFF;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-section {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
}

.gif-container {
    margin-left: 500px;
    text-align: center;
    margin-top: 100px;
}

.gif-container img {
    width: 250%;
    height: 250%;
    border-radius: 12px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
}

.gif-container:hover img {
    transform: scale(1.1);
}

/* Tooltip  */
.tooltip {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px; 
    font-size: 16px;
    color: #000000; 
    position: relative;
    background-color: rgb(255, 255, 255);
}

.tooltip i {
    margin-left: 5px; 
}

.tooltip:hover::after {
    content: "This is the whitelist. Add websites to allow access only to those in the whitelist.";
    position: absolute;
    background-color: #3498db; 
    color: #fff; 
    padding: 10px;
    margin-top: 5px; 
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}